* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #41ab5d, #238845);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-wrapper {
  width: 400px;
  background: #c7e9c0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.chat-header {
  background: #74c476;
  color: white;
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 10px;
}

.chat-header h2 {
  font-size: 1.2rem;
}

.bot-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: white;
  padding: 5px;
}

#chat-box {
  width: 100%;
  height: 400px;        /* or any height you want */
  overflow-y: auto;     /* enables scrolling */
  padding: 10px;
  background: #f5f5f5;
  border-radius: 10px;
  display: flex;                 /* enable flexbox */
  flex-direction: column;        /* stack messages vertically */
}

.message {
  margin: 8px 0;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 70%;
  font-size: 14px; 
  line-height: 1.3;
  word-wrap: break-word;
  animation: fadeIn 0.3s ease;
  margin-bottom: 10px;
}

.user-message {
  background: #74c476;
  color: white;
  align-self: flex-end;
  border-bottom-right-radius: 2px;
  font-size: 14px;
  text-align: right;  
}

.bot-message {
  background: #e4e6eb;
  color: #333;
  align-self: flex-start;
   font-size: 14px;
  border-bottom-left-radius: 2px;
}

.input-area {
  display: flex;
  border-top: 1px solid #ddd;
}

#user-input {
  flex: 1;
  border: none;
  padding: 15px;
  outline: none;
  font-size: 15px;
}

#send-btn {
  background: #74c476;
  color: white;
  border: none;
  width: 60px;
  cursor: pointer;
  font-size: 18px;
}

#send-btn:hover {
  background: #005fd1;
}

.typing {
  font-style: italic;
  color: #666;
  background: #e4e6eb;
  padding: 8px 12px;
  border-radius: 20px;
  width: fit-content;
  align-self: flex-start;
  margin: 8px 0;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% { opacity: 0.5; }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}